.contact {
  a {
    font-size: clamp(1.8rem, 3vw, 3rem);
    letter-spacing: 5px;
    margin-bottom: 5px;
    color: $primary-light;
    transition: text-shadow 0.2s ease-in-out ;

    &:hover,
    &:focus,
    &:active {
      text-shadow: 2px 1px 2px $monochromatic-accent;
    }
  }

  .calendly {
    cursor: pointer;
    font-size: clamp(1.3rem, 3vw, 2rem);
    letter-spacing: 5px;
    border-bottom: 5px dotted $primary-light;
  }

  .accent {
    color: $accent-color;
  }
}

.socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  a {
    padding: 10px;
    margin: 0 40px;
    display: inline-flex;
    border-radius: 5px;
    color: $primary-light;
    transition: all 0.3s ease-in-out;

    span {
      font-size: clamp(2.5rem, 3vw, 4rem);
    }

    &:hover,
    &:focus,
    &:active {
      background: $accent-color;
      color: $primary-dark;
    }
  }
}

form {
  min-width: 500px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px $monochromatic-accent;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      margin-top: 5px;
      display: flex;
      flex-direction: column;

      &:nth-child(2) label {
        margin: 10px 0;
      }
    }
  }

  label {
    font-size: clamp(1.4rem, 3vw, 1.8rem);
    letter-spacing: 10px;
    display: inline-block;
  }

  input,
  textarea {
    min-width: 400px;
    font-size: clamp(1.4rem, 3vw, 1.6rem);
    letter-spacing: 5px;
    background: $primary-dark;
    color: $primary-light;
    text-shadow: 1px 1px 3px $monochromatic-accent;
  }

  input:focus,
  textarea:focus {
    border-color: $monochromatic-accent;
  }

  input {
     padding: 10px 0 5px 0;
    border: none;
    border-bottom: 3px double $primary-light;
  }

  textarea {
    resize: none;
    height: 10rem;
    padding: 10px;
    border: 3px double $primary-light;
  }

  button {
    letter-spacing: 5px;
    margin-top: 15px;
  }
}

