html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='45' height='54' viewport='0 0 100 100' style='fill:black;font-size:27px;filter:sepia(65%)'><text y='50%'>⭐</text></svg>") 16 0,auto;
  font-family: $body-font-stack;
  font-size: 1.6rem;
  background: $primary-light;
  color: $primary-dark;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

main {
  margin-left: 250px;
}

section, .wrapper {
  min-height: 100vh;
}

section {
  margin-bottom: 50px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

input[type="submit"],
button,
a {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='45' height='54' viewport='0 0 100 100' style='fill:black;font-size:27px;filter:sepia(65%)'><text y='50%'>✨</text></svg>") 16 0,auto;
}

.homepageContents a,
form button {
  background: $accent-color;
  color: $primary-dark;
  border: 1px solid $accent-color;
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
}

.shutterOutTransition {
  transition: color 300ms;
  position: relative;
  transform: translateZ(0);
  backface-visibility: hidden;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    background: $primary-light;
    transform: scaleX(0);
    transform-origin: 50%;
    transition-property: transform;
    transition: 300ms ease-out;
  }

  &:hover::before,
  &:focus::before {
    transform: scaleX(1);
  }  
}  

h2 {
  font-size: clamp(2.3rem, 3vw, 5rem);
  letter-spacing: 7px;
  text-align: center;
  padding: 5px 0;
}

.shape {
  position: absolute;
  z-index: -20;
  opacity: 0.4;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 200px solid #eb9595;
  right: 10%;
}

.circle {
  background: #eb9595;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.trapezoid {
  left: 45%;
  height: 0;
	width: 300px;
  border-bottom: 200px solid #eb9595;
	border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  transform: rotate(35deg);
}

.oval {
  background: #eb9595;
  width: 450px;
  height: 225px;
  border-radius: 300px / 150px;
  transform: rotate(35deg);
  left: 60%;
}

.parallelogram {
  background: #eb9595;
  left: 10%;
  width: 300px;
  height: 200px;
  transform: skew(20deg);
}