.home {
  .wrapper {
    @include flex-center-row;
  }
  
  .homepageContents {
    font-family: $heading-font-stack;
    letter-spacing: 5px;
    @include flex-center-column;

    .circleFrame {
      width: 250px;
      height: 250px;
      position: relative;
    }

    img {
      position: absolute;
      border: 0.5px solid $primary-dark;
      border-radius: 50%;
      filter: sepia(50%);
    }
  }
}

h1 {
  font-weight: $extra-bold;
  font-size: clamp(5rem, 3vw, 7.5rem);
  text-align: center;

  span {
    color: $accent-color;
  }
}

p {
  font-size: clamp(2rem, 3vw, 3.5rem);
  font-weight: $semi-bold;
  margin-bottom: 35px;

  span {
    font-style: italic;

     &::before {
      content: 'developer';
      animation: change infinite 3s;
    }

    @keyframes change {
      0% {
        content: 'developer';
      }

      50% {
        content: 'female';
      }

      75% {
        content: 'developer';
      }
    }
  }
}
    