// @media for max-widths
@media (max-width: 900px) {
  section, 
  .wrapper {
    min-width: 100vw;
    min-height: 90vh;
  }

  header {
    min-width: 100vw;
    display: block;
  }

  nav {
    min-width: 0;
    min-height: 10vh;

    a {
      font-size: 1rem;
    }

    .noMobile {
      display: none;
    }

    &::before {
      background-position: 65%;
    }

    ul {
      margin-left: 0;
      @include flex-center-row;
    }

    li {
      border-bottom: none;
    }

    a {
      padding: 10px 20px;
    }
  }

  .home {
    .wrapper {
      min-height: 100vh;
    }
    
    .homepageContents {
      min-height: 85vh;
      justify-content: end;

      .circleFrame {
        height: 300px;
      }
    }
  }

  .about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;

    .contents {
      min-height: 75vh;
    }
  }

  .skills {
    .skillRow {
      width: 100%;
    }
  }

  .contact {
    .container {
      min-height: 75vh;
    }
  }

  .triangle {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #eb9595;
  }

  .circle {
    width: 200px;
    height: 200px;
  }

  .trapezoid {
    width: 200px;
    border-bottom: 150px solid #eb9595;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
  }

  .oval {
    width: 300px;
    height: 150px;
    border-radius: 150px / 75px;
  }

  .parallelogram {
    width: 200px;
    height: 100px;
  }
}

@media only screen and (max-width: 700px) {
  .modalImage {
    width: 100%;
  }
}   

@media (max-width: 690px) {
   .home {
    .homepageContents {
      .circleFrame {
       height: 225px;
      }
    }
  }

  .row .column img {
    height: auto;
  }

  form {
    min-width: 300px;

    button {
      padding: 5px 10px;
    }

    input,
    textarea {
      min-width: 300px;
      padding: 0;
    }
  }
}

@media (max-width: 550px) {
  .about {
    .contents {
      min-height: 70vh;
    }
  }

  .skills {
    .skillRow .icon {
      height: 100px;
      width: 100px;
      margin: 5px;
    }
  }
}

@media (max-width: 500px) {
  .projectBox {
    margin-bottom: 50px;
  }
}

@media (max-width: 460px) {
  header {
    p {
      right: 1%;
      bottom: 0;
    }
  }

  .about {
    ul,
    .row {
      margin-bottom: 20px;
    }
  }

  h2 {
    margin-bottom: 20px;
  }

  .contact {
    a {
      letter-spacing: 2px;
    }

    .socials a {
      margin: 10px;
    }
  }

  form {
    min-width: 300px;

    li {
      align-items: center;
    }

    input,
    textarea {
      min-width: 200px;
      width: 100px;
    }
  }
}

@media (max-width: 414px) {
  .pineapple {
    right: -6%;
  }
}