// @media for max-widths
@media (max-width: 900px) {
  section, 
  .wrapper {
    min-width: 100vw;
    min-height: 85vh;
  }

  header {
    min-width: 100%;
    display: block;
  }

  nav {
    min-width: 0;
    min-height: 15vh;

    &::before {
      background-position: 65%;
    }

    ul {
      margin-left: 0;
      @include flex-center-row;
    }

    li {
      border-bottom: none;
    }

    a {
      padding: 10px 20px;
    }
  }

  .home {
    .wrapper {
      min-height: 100vh;
    }
    
    .homepageContents {
      min-height: 75vh;
      justify-content: end;

      .circleFrame {
        height: 300px;
      }
    }
  }

  .about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;

    .contents {
      min-height: 75vh;
    }
  }

  .skills {
    .skillRow {
      width: 100%;
    }
  }

  .projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;

    .box {
      min-height: 85vh;
    }
  }

  .projectBox {
    margin-bottom: 50px;
  }

  .contact {
    .container {
      min-height: 75vh;
    }
  }
}

@media only screen and (max-width: 700px) {
  .modalImage {
    width: 100%;
  }
}   

@media (max-width: 690px) {
  nav {
    .noMobile {
      display: none;
    }

    ul {
      @include flex-center-row;
    }

    a {
      padding: 10px 20px;

      .icon {
        font-size: 2.5rem;
      }
    }
  }

   .home {
    .homepageContents {
      .circleFrame {
       height: 225px;
      }
    }
  }

  .column img {
    height: auto;
  }

  form {
    min-width: 400px;

    input,
    textarea {
      min-width: 300px;
    }
  }
}

@media (max-width: 550px) {
  .about {
    .contents {
      min-height: 70vh;
    }
  }

  .skills {
    .skillRow .icon {
      height: 100px;
      width: 100px;
      margin: 5px;
    }
  }
}

@media (max-width: 460px) {
  header {
    p {
      right: 0;
    }

    .hamburger {
      display: block;
    }

    nav {
      display: block;
    }

    ul {
      display: none;
    }

    li {
      border-bottom: 0.5px solid $primary-dark;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  .about {
    ul,
    .row {
      margin-bottom: 20px;
    }
  }

  h2 {
    margin-bottom: 20px;
  }

  .contact {
    a {
      letter-spacing: 2px;
    }

    .socials a {
      margin: 20px 10px;
    }
  }

  form {
    min-width: 300px;

    li {
      align-items: center;
    }

    input,
    textarea {
      min-width: 200px;
      width: 100px;
    }
  }
}

@media (max-width: 414px) {
  .pineapple {
    right: 30%;
  }
}

@media (max-width: 375px) {
  .pineapple {
    right: 10%;
  }
}