// @media for max-widths
@media (max-width: 900px) {
  header {
    position: relative;
    width: 100%;
    height: 80px;

    &::before {
      background-position: 65%;
    }

    p {
      bottom: 0;
      left: revert;
    }

    ul {
      margin-left: 0;
      @include flex-center-row;

      li {
        border-bottom: none;
      }

      a {
        font-size: 1rem;
        padding: 10px 20px;
      }

      .noMobile {
        display: none;
      }
    }
  }

  main {
    margin-left: 0;
    margin-top: 80px;
  }

  section, .wrapper {
    min-height: 85vh;
  }

  .home .homepageContents {
    .circleFrame {
      height: 300px;
    }  
  }

  .contact {
    .wrapper {
      @include flex-center-column-end;
    }

    h2 {
      margin-bottom: 20px;
    }

    .container {
      min-height: 75vh;
      @include flex-center-column-between;
    }
  }

  .triangle {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #eb9595;
  }

  .circle {
    width: 200px;
    height: 200px;
  }

  .trapezoid {
    width: 200px;
    border-bottom: 150px solid #eb9595;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
  }

  .oval {
    width: 300px;
    height: 150px;
    border-radius: 150px / 75px;
  }

  .parallelogram {
    width: 200px;
    height: 100px;
  }
}

@media only screen and (max-width: 700px) {
  .modalImage {
    width: 100%;
  }
}   

@media (max-width: 690px) {
   .home .homepageContents {
    .circleFrame {
      height: 225px;
    }
  }

  .row .column img {
    height: auto;
  }

  form {
    min-width: 300px;

    button {
      padding: 5px 10px;
    }

    input,
    textarea {
      min-width: 300px;
      padding: 0;
    }
  }
}

@media (max-width: 550px) {
  .skills {
    .skillRow .icon {
      height: 90px;
      width: 90px;
      margin: 5px;
    }
  }
}

@media (max-width: 500px) {
  .projectBox {
    margin-bottom: 50px;
  }
}

@media (max-width: 460px) {
  .about {
    ul,
    .row {
      margin-bottom: 20px;
    }
  }
  
  .contact {
    a {
      letter-spacing: 2px;
    }

    .socials a {
      margin: 10px;
    }
  }

  form {
    li {
      align-items: center;
    }

    input,
    textarea {
      min-width: 200px;
      width: 100px;
    }
  }
}

@media (max-width: 414px) {
  .pineapple {
    right: -6%;
  }
}