// Font Stacks
$heading-font-stack: 'Poppins', sans-serif;
$body-font-stack: 'Mulish', sans-serif;

// Font Weights
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// Colors
$primary-dark: #0a0a0a;
$primary-light: #f1ebeb;
$accent-color: #e68080e8;
$monochromatic-accent: #ffc0cb;



