@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='45' height='54' viewport='0 0 100 100' style='fill:black;font-size:27px;filter:sepia(65%)'><text y='50%'>⭐</text></svg>") 16 0, auto;
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  background: #f1ebeb;
  color: #0a0a0a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

main {
  margin-left: 250px;
}

section, .wrapper {
  min-height: 100vh;
}

section {
  margin-bottom: 50px;
}

section:last-of-type {
  margin-bottom: 0;
}

input[type="submit"],
button,
a {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='45' height='54' viewport='0 0 100 100' style='fill:black;font-size:27px;filter:sepia(65%)'><text y='50%'>✨</text></svg>") 16 0, auto;
}

.homepageContents a,
form button {
  background: #e68080e8;
  color: #0a0a0a;
  border: 1px solid #e68080e8;
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
}

.shutterOutTransition {
  -webkit-transition: color 300ms;
  transition: color 300ms;
  position: relative;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.shutterOutTransition::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  background: #f1ebeb;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.shutterOutTransition:hover::before, .shutterOutTransition:focus::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

h2 {
  font-size: clamp(2.3rem, 3vw, 5rem);
  letter-spacing: 7px;
  text-align: center;
  padding: 5px 0;
}

.shape {
  position: absolute;
  z-index: -20;
  opacity: 0.4;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 200px solid #eb9595;
  right: 10%;
}

.circle {
  background: #eb9595;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.trapezoid {
  left: 45%;
  height: 0;
  width: 300px;
  border-bottom: 200px solid #eb9595;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.parallelogram {
  background: #eb9595;
  left: 10%;
  bottom: 90%;
  width: 300px;
  height: 200px;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}

header {
  position: fixed;
  height: 100%;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(assets/navBgImg.jpeg) no-repeat 75%;
  background-size: cover;
  -webkit-filter: sepia(40%);
          filter: sepia(40%);
}

header p {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: absolute;
  bottom: 5%;
  left: 10%;
  text-shadow: 1px 1px 3px #0a0a0a;
}

nav {
  position: fixed;
  z-index: 20;
}

nav ul {
  letter-spacing: 1px;
  border: 0.5px solid #0a0a0a;
  -webkit-box-shadow: 5px 5px 5px #0a0a0a;
          box-shadow: 5px 5px 5px #0a0a0a;
  text-align: center;
  margin-left: 100px;
}

nav li {
  text-transform: lowercase;
  border-bottom: 0.1px solid #0a0a0a;
}

nav li:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
}

nav a {
  font-size: 1.3rem;
  background: #f1ebeb;
  color: #0a0a0a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 5px;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

nav a:hover, nav a:focus, nav a:active {
  background: #e68080e8;
}

nav a .icon {
  font-size: 1.8rem;
}

.active {
  background: #e68080e8;
}

.home .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .homepageContents {
  font-family: "Poppins", sans-serif;
  letter-spacing: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .homepageContents .circleFrame {
  width: 100%;
  height: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.home .homepageContents img {
  max-height: 100%;
  position: absolute;
  border-radius: 5px;
}

.home h1 {
  font-weight: 800;
  font-size: clamp(3rem, 6vw, 6rem);
  text-align: center;
}

.home h1 span {
  color: #e68080e8;
}

.home p {
  font-size: clamp(2rem, 3vw, 3.5rem);
  font-weight: 600;
  margin-bottom: 35px;
}

.home p .wordChange {
  font-style: italic;
  color: #e68080e8;
  display: inline-block;
  width: 169px;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about ul li {
  font-size: clamp(1.4rem, 3vw, 2.4rem);
  letter-spacing: 2px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

.about ul li:last-child {
  position: relative;
}

.about ul .color {
  color: #e68080e8;
}

.about ul .italic {
  font-style: italic;
}

.row {
  position: absolute;
  z-index: -1;
  opacity: 0.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

.row .column {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  padding: 0 4px;
}

.row .column img {
  margin: 8px 0;
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
  height: 100px;
}

.pineapple {
  font-size: clamp(2rem, 3vw, 3rem);
  position: absolute;
  right: -8%;
  bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: swayingPineapple 4s linear infinite;
  animation: swayingPineapple 4s linear infinite;
}

.pineapple:hover,
.pineapple:focus {
  font-size: clamp(2.8rem, 3vw, 4.8rem);
  text-shadow: 2px 2px #ffc0cb;
}

@-webkit-keyframes swayingPineapple {
  0% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  25% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  75% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
}

@keyframes swayingPineapple {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  25% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  75% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

.skillRow {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillRow .wrap {
  overflow-x: hidden;
}

.skillRow .skillColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skillRow .skillColumn .white {
  color: #0a0a0a;
}

.skillRow i {
  color: #e68080e8;
  margin: 10px;
  vertical-align: middle;
  font-size: clamp(2rem, 3vw, 6rem);
  padding: 5px;
}

.skillRow i::before {
  -webkit-box-shadow: 5px 5px 5px #0a0a0a;
          box-shadow: 5px 5px 5px #0a0a0a;
  padding: 10px;
  border-radius: 10px;
}

.skillRow .icon {
  height: 150px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.skillRow p {
  font-size: clamp(1rem, 3vw, 1.3rem);
  letter-spacing: 3px;
  margin-bottom: 2px;
}

.projects .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectBox {
  text-align: center;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid #0a0a0a;
  background: url(https://media.giphy.com/media/JmO5i65cwf8nML7Z0v/giphy.gif) center;
  background-color: #f1ebeb;
  -webkit-box-shadow: 0 2px 2px #0a0a0a;
          box-shadow: 0 2px 2px #0a0a0a;
}

.projectBox h3 {
  margin-bottom: 10px;
  letter-spacing: 3px;
}

.projectBox .imgThumbnail {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  border: 1px solid #0a0a0a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 250px;
  height: 150px;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.projectBox .imgThumbnail:hover, .projectBox .imgThumbnail:focus, .projectBox .imgThumbnail:active {
  opacity: 0.6;
}

.projectBox a {
  font-size: 3rem;
  padding: 5px;
  color: #0a0a0a;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.projectBox a:hover, .projectBox a:focus, .projectBox a:active {
  color: #e68080e8;
}

.modal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.77);
}

.modal .modalImage {
  display: block;
  border-radius: 5px;
}

.modal #caption {
  color: #f1ebeb;
  display: block;
  margin: 20px 20px 0 20px;
  text-align: center;
  font-size: clamp(1.3rem, 3vw, 1.6rem);
  letter-spacing: 3px;
}

.modal .close {
  position: absolute;
  top: -1%;
  right: 1%;
  color: #f1ebeb;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal .close:hover, .modal .close:focus {
  cursor: pointer;
  color: #e68080e8;
}

.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
}

.contact a {
  font-size: clamp(1.6rem, 3vw, 2rem);
  letter-spacing: 5px;
  margin-bottom: 5px;
  color: #0a0a0a;
  -webkit-transition: text-shadow 0.2s ease-in-out;
  transition: text-shadow 0.2s ease-in-out;
}

.contact a:hover, .contact a:focus, .contact a:active {
  text-shadow: 2px 1px 2px #ffc0cb;
}

.contact .accent {
  color: #e68080e8;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.socials a {
  padding: 10px;
  margin: 0 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 5px;
  color: #0a0a0a;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.socials a span {
  font-size: clamp(2.5rem, 3vw, 4rem);
}

.socials a:hover, .socials a:focus, .socials a:active {
  background: #e68080e8;
  color: #f1ebeb;
}

form {
  min-width: 500px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 3px double #0a0a0a;
}

form ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form ul li {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form ul li:nth-child(2) label {
  margin: 10px 0;
}

form label {
  font-size: clamp(1.2rem, 3vw, 1.4rem);
  letter-spacing: 8px;
  display: inline-block;
}

form input,
form textarea {
  min-width: 400px;
  font-size: clamp(1.3rem, 3vw, 1.5rem);
  letter-spacing: 5px;
  border: 3px double #0a0a0a;
  background: #f1ebeb;
  color: #0a0a0a;
  text-shadow: 1px 1px 3px #ffc0cb;
}

form input:focus,
form textarea:focus {
  border-color: #ffc0cb;
}

form input {
  padding: 10px 0 5px 0;
}

form textarea {
  resize: none;
  height: 10rem;
  padding: 10px;
}

form button {
  letter-spacing: 5px;
  margin-top: 15px;
}

.swal-modal {
  background-color: #0a0a0a;
  border: 3px double #ffc0cb;
  border-radius: 2px;
}

.swal-title {
  margin: 0px;
  font-size: clamp(1.8rem, 3vw, 2rem);
  letter-spacing: 5px;
  color: #f1ebeb;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
}

.swal-text {
  background-color: #e68080e8;
  padding: 17px;
  font-size: clamp(1.4rem, 3vw, 1.6rem);
  letter-spacing: 3px;
  border-radius: 2px;
  display: block;
  margin: 22px;
  text-align: center;
  color: #0a0a0a;
}

.swal-footer {
  background-color: #e68080e8;
  margin-top: 32px;
  border-top: 1px solid #e68080e8;
  overflow: hidden;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #0a0a0a;
  font-size: clamp(1.2rem, 3vw, 1.4rem);
  letter-spacing: 3px;
  font-weight: bold;
}

.swal-button:not([disabled]):hover {
  background-color: #f1ebeb;
  color: #0a0a0a;
}

@media (max-width: 900px) {
  header {
    position: relative;
    width: 100%;
    height: 80px;
  }
  header::before {
    background-position: 65%;
  }
  header p {
    bottom: 0;
    left: revert;
  }
  header ul {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header ul li {
    border-bottom: none;
  }
  header ul a {
    font-size: 1rem;
    padding: 10px 20px;
  }
  header ul .noMobile {
    display: none;
  }
  main {
    margin-left: 0;
    margin-top: 80px;
  }
  section, .wrapper {
    min-height: 85vh;
  }
  .home .homepageContents .circleFrame {
    height: 300px;
  }
  .contact .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact h2 {
    margin-bottom: 20px;
  }
  .contact .container {
    min-height: 75vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .triangle {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #eb9595;
  }
  .circle {
    width: 200px;
    height: 200px;
  }
  .trapezoid {
    width: 200px;
    border-bottom: 150px solid #eb9595;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
  }
  .oval {
    width: 300px;
    height: 150px;
    border-radius: 150px / 75px;
  }
  .parallelogram {
    width: 200px;
    height: 100px;
  }
}

@media only screen and (max-width: 700px) {
  .modalImage {
    width: 100%;
  }
}

@media (max-width: 690px) {
  .home .homepageContents .circleFrame {
    height: 225px;
  }
  .row .column img {
    height: auto;
  }
  form {
    min-width: 300px;
  }
  form button {
    padding: 5px 10px;
  }
  form input,
  form textarea {
    min-width: 300px;
    padding: 0;
  }
}

@media (max-width: 550px) {
  .skills .skillRow .icon {
    height: 90px;
    width: 90px;
    margin: 5px;
  }
}

@media (max-width: 500px) {
  .projectBox {
    margin-bottom: 50px;
  }
}

@media (max-width: 460px) {
  .about ul,
  .about .row {
    margin-bottom: 20px;
  }
  .contact a {
    letter-spacing: 2px;
  }
  .contact .socials a {
    margin: 10px;
  }
  form li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  form input,
  form textarea {
    min-width: 200px;
    width: 100px;
  }
}

@media (max-width: 414px) {
  .pineapple {
    right: -6%;
  }
}
